* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  background-size: cover;
  background-position: center;
}

.section h1 {
  position: absolute;
  font-size: 56px;
  font-weight: 600;
  font-family: "Rock Salt", cursive;
}

.section .content {
  font-family: "Rancho", cursive;
}

/**************** section 1 ****************/
.s1 {
  background-image: url(../img/bg1.jpg);
}

.s1 h1 {
  top: 20%;
  left: 40%;
  color: rgba(80, 15, 15, 0.781);
}

.s1 .content {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 50%;
  font-size: 32px;
  color: darkslategrey;
}

.s1 .content p + p {
  margin-top: 20px;
}

/**************** section 2 ****************/
.s2 {
  background-image: url(../img/bg2.jpg);
}

.s2 h1 {
  top: 20%;
  left: 5%;
  color: rgb(33, 108, 151);
}

.s2 .content {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 75px;
}

.s2 .card {
  width: 500px;
  height: 160px;
  background-color: rgb(33, 108, 151);
}

.s2 .card-title {
  display: flex;
  align-items: center;
}

.s2 .type {
  font-size: 32px;
  font-weight: 700;
}

.s2 .duration {
  font-size: 24px;
  font-weight: 500;
  margin-left: auto;
}

.s2 .card-text {
  font-size: 28px;
  font-weight: 400;
}

.s2 .card-link {
  float: right;
  font-size: 20px;
  margin: 0 10px 10px 0;
  color: white;
}

/**************** section 3 ****************/
.s3 {
  background-image: url(../img/bg3.jpg);
}

.s3 h1 {
  top: 5%;
  left: 10%;
  color: #85203b;
}

.s3 .content {
  display: flex;
  justify-content: space-evenly;
}

.s3 .card {
  width: 400px;
  height: 270px;
  background-color: rgba(255, 159, 104, 0.8);
}

.s3 .card-title {
  font-size: 2em;
  color: #85203b;
}

.s3 .card-subtitle {
    font-size: 1.3em;
    color: black;
}

.s3 .card-text {
  font-size: 1.4em;
  color: #10316b;
}

/**************** section 4 ****************/
.s4 {
  background-image: url(../img/bg4.jpg);
}

.s4 h1 {
  top: 5%;
  left: 10%;
  color: rgb(179, 179, 179);
}

.s4 .title  {
  position: absolute;
  color: rgb(179, 179, 179);
  left: 10%;
}

.s4 .card {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgba(128, 128, 128); */
  background-color: white;
}

.s4 .language-title {
  top: 20%;
}

.s4 .languages {
  position: absolute;
  top: 27%;
  left: 10%;
  display: flex;
}

.s4 .language .card :nth-child(even) {
  background-color: black;
}

.s4 .language + .language {
  margin-left: 40px;
}

.s4 .framework-title {
  top: 45%;
}

.s4 .frameworks {
  position: absolute;
  top: 52%;
  left: 10%;
  display: flex;
}

.s4 .framework + .framework {
  margin-left: 40px;
}

.s4 .tool-title {
  top: 70%;
}

.s4 .tools {
  position: absolute;
  top: 77%;
  left: 10%;
  display: flex;
}

.s4 .tool + .tool {
  margin-left: 40px;
}

.s4 img {
  width: 50px;
  height: 50px;
}

/**************** section 5 ****************/
.s5 {
  background-image: url(../img/bg5.jpg);
}

.s5 h1 {
  top: 5%;
  left: 10%;
  color: white;
}

.s5 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 25px;
}

.s5 .contact {
  width: 300px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.s5 .contact:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.s5 .contact img {
  width: 40px;
}

.s5 .contact .info {
  padding-left: 20px;
  font-size: larger;
  color: black;
}